<h1>Users</h1>
<p><%= link_to "New User", new_user_path %></p>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Photo</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= link_to user.name, user %></td>
        <td><%= link_to(image_tag(user.thumbnail('50x50')), user) if user.avatar.attached? %></td>
        <td>  <%= link_to "Delete", user, method: :delete, confirm: "Are you sure?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
